.title {
    width: 300px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 3px;
}

.subtitle {
    font-family: Arial;
    font-size: 14px;
    color: rgb(114, 114, 114);
    margin-top: 0;
    margin-bottom: 20px;
}

.author {
    font-family: Arial;
    color: rgb(114, 114, 114);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
}

.description {
    width: 300px;
    font-family: Arial;
    color: rgb(114, 114, 114);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 30px;
}

.banner {
    background-color: rgb(248, 76, 76);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: Arial;
    font-size: 13px;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}