.uber-button {
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  width: 110px;
  cursor: pointer;
}

.amazon-button {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 30px;
  width: 140px;
  border-radius: 15px;
  cursor: pointer;
}

.github-button {
  background-color: rgb(46, 164, 79);
  color: white;
  border: none;
  height: 40px;
  width: 90px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}